.cartform-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartform{
    height: 50%;
    width: 35%;
    border-radius: 60px;
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;    
    flex-direction: column;
    
} 
.titleback {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.titleback h7{
    width: 60%;
    color: white;
    border-bottom: 1px solid;
}
.titleback button{
    border-radius: 100px;
    background-color: black;
    color: white;
}
.contentwrapper {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}